.contenedor-notas {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 1.5rem;
}

.tabla-notas {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.tabla-notas th,
.tabla-notas td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: left;
}

.encabezado-tabla {
  background-color: #f2f2f2;
}

.mensaje-error {
  color: #ff3333;
  padding: 0.5rem;
  border: 1px solid #ff3333;
  border-radius: 4px;
  background-color: #ffe6e6;
  margin-bottom: 1rem;
}
